
#contact{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    padding: 200px;
}

.contact__title {
    font-size: 50px;
    span {
        color: $primary;
    }
}

.contact__cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact__card {
    width: 400px;
    height: 150px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
    transition: .3s;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto 50px;

    &:hover {
        box-shadow: -4px -4px 7px #ffffff50, 3px 3px 5px rgba(94, 104, 121, .288);
    }
}

.contact__card img{
    height: 100px;
    width: 100px;
}