
#navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    transition: .5s;
}

.navbar__container {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar__brand {

    margin-left: 5%;
    span {
        color: $primary;
    }
    a {
        font-size: 2rem;
        font-weight: bold;
    }

}

.navbar__navigator {
    width: 50%;
    display: flex;
    
}

ul {
    width: 80%;
    display: flex;
    justify-content: space-around;

    a {
        font-size: 1.4rem;
        font-weight: bold;
        transition: color .2s ease;
    
        &:hover{
            color: $primary;
            font-size: 1.5rem;
        }
    }
}

.navbar__hamburger{

    display: none;
}

@media (max-width: 1228px){

    .navbar__brand {
        width: 70%;
    }

    .navbar__navigator{
        flex-direction: row-reverse;
        width: 30%;

        ul {
            display: none;
        }

        .navbar__hamburger{
            width: 30px;
            height: 30px;   
            border: 3px solid white;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            z-index: 10; 
            cursor: pointer;
            margin-right: 20px;
            padding: 10px;
            position: relative;
            
            &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;   
                border: 3px solid white;
                border-radius: 50%;
                animation: highlightMenu 5s infinite;
            }

            .navbar__hamburger-bar1{
                height: 3px;
                width: 60%;
                background-color: white;
            }
            .navbar__hamburger-bar2{
                height: 3px;
                width: 80%;
                background-color: white;
            }
        }



    }
}

@media (max-width: 360px){
    .navbar__brand {
        width: 70%;
        a {
            font-size: 1.7rem;
        }
    }

    .navbar__hamburger{
        width: 20px;
        height: 20px;
        padding: 5px;
    }
    
}

@keyframes highlightMenu{
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(1.4);
    }
}
