
#projects {
    margin: 12% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}

.projects__title {
    font-size: 50px;
    span {
        color: $primary;
    }
}

.projects__items-list{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.projects__item-s{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;  
    margin-bottom: 50px;
}

.projects__item-information{
    background-image: linear-gradient( 90deg, $dark-blue, $primary);
    color: white;
    width: 50%;
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto ;
}

.projects__item-title{
    font-size: 1.5rem;
    margin: 0px;
}

.projects__item-description{
    line-height: 25px;
    font-size: 12px;
}

.projects__item-link{
    font-weight: bold;
    font-size: 12px;
}

.projects__item-img{

    width: 50%;
    height: 100%;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: contain;
        margin: auto;}
}


.projects__beside a{
    color: $primary;
    text-decoration: underline;
    margin: auto 6px;
}

@media (max-width: 1430px){

    .projects__item-s{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .projects__item-information{
        width: 80%;
        height: 300px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .projects__item-img{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img{
            border-radius: 20px;
            width: 80%;
            
            
        }
    }
}