
#skills {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    padding: 100px;
}

.skills__title {
    font-size: 50px;
    span {
        color: $primary;
    }
}

.skills__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skills_card {

    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    margin: 2%;

    img {
        height: 150px;
        width: 150px;
    }
}