html, body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
